<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Location Locator</title>
    <meta charset="utf-8" />
    <link href="../content/css/Bootstrap/bootstrap.css" rel="stylesheet" />
    
    <!-- load Esri CSS -->
    <link rel="stylesheet" href="//js.arcgis.com/4.0beta3/esri/css/main.css">
    
    <link href="../content/css/site.css" rel="stylesheet" />
</head>
<body ng-controller="MainController as vm">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1>
                    LOCATOR <small>Look up a location demo</small>
                </h1>
            </div>
            <p class="navbar-text navbar-right">
                <a class="navbar-link" href="https://github.com/winkerVSbecks/locator">GIT HUB SOURCE</a>
            </p>
        </div>
    </nav>
    <div class="container-fluid">

        <div class="panel-body">
            <div class="col-md-4">
                <location-locator results="results"></location-locator>
                <div class="listbox" ng-repeat="option in results | limitTo:limitTo"
                        ng-click="pickLocation(option);"
                        item="option">
                    {{option.description}}
                </div>
            </div>
            <div class="col-md-8">
                <!--map section-->
                <div id="mapLoad"></div>
            </div>
        </div>
    </div>

    <!-- Angular Scripts -->
    <script src="Scripts/jquery-1.9.1/jquery-1.9.1.min.js"></script>
    <script src="Scripts/Bootstrap/bootstrap.js"></script>
    <!--<script src="Scripts/angular/angular.min.js"></script>-->
    <!-- load Esri JSAPI -->
    <script src="//js.arcgis.com/4.0beta3/"></script>
    <!-- load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <!-- load angular-esri-map -->
    <script src="//npmcdn.com/angular-esri-map@2.0.0-beta.2"></script>

    <!-- Angular Modules -->
    <script src="app.js"></script>
    <script src="Modules/app.directives.js"></script>

    <!-- Angular Controllers -->
    <script src="Controllers/MainController.js"></script>

    <!-- Angular Directives -->
    <script src="Directives/LocationDirective.js"></script>

    <!-- Google Maps API -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDk_iQ6QWOTHW-TWoXSFLwbcnhaxlcnXXk&libraries=places&sensor=true"></script>

</body>
</html>
